<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: 'eid7xze',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <style>
      #parkNow {
        border-radius: 2px;
        height: 80px;
        width: 90%;
        height: 100px;
        color: #fff;
        position: relative;
        text-align: center;
        /* top: 100px; */
        margin: -40px auto 0 auto;
        top: 90px;
        text-align: ma;
        font-size: 26px;
        background: rgba(59,194,94, 1);
        /* border: 1px solid #000; */
        font-family: "soleil", 'Helvetica Neue', Helvetica, Arial, sans-serif;
        cursor: pointer;
        cursor: hand;
        line-height: 28px;
      }
      #logo1 {
        text-align: center;
        top:80px;

      }
      #logo1 img {
        margin-top:50px
      }
    </style>
  </head>
  <body>
    
<div id='homePage'>
  <div id='map-logo-header'>
      <div id='logo'>1000SCIENTISTS</div>
    </div>
    <div id='logo1'>
      <img src='images/sci.jpg'/>
    </div>
    <a id='parkNowLink' href='/job/2'>
    <div id='parkNow'>
      <i class="fa fa-car fa-3x" style="padding-top:25px"> 
        </i>
        <br />
      Get Started
    </div>
  </a>


    <div class='questionMark' style='bottom:0; top: 450px;
right: 30px;'>
        <i class="fa fa-question"></i>
      </div>

      <div class='settings' style='bottom:0; left: 30px; top: 450px;'>
        <i class="fa fa-cog"></i>
      </div>
  </div>  
</body>
</html>