<!DOCTYPE html>
<html>
  <head>
    <title>Parkour</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans:bold">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/mapstyle.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js"></script>

  </head>
  <body>

<div id='homePage'>
  <div id='map-logo-header'>
      <div id='logo'>Parkour</div>
    </div>
    <a id='parkNowLink' href='/map'>
    <div id='parkNow'>
      <i class="fa fa-car fa-3x" style="padding-top:25px"> 
        </i>
        <br />
      Park Now
    </div>
  </a>

    <div id='driveAndPark'>
      <i class="fa fa-compass fa-3x" style="padding-top:25px">
        </i>
        </i>
        <br />
      Drive and Park
    </div>

    <div class='questionMark' style='bottom:0; top: 450px;
right: 30px;'>
        <i class="fa fa-question"></i>
      </div>

      <div class='settings' style='bottom:0; left: 30px; top: 450px;'>
        <i class="fa fa-cog"></i>
      </div>
  </div>  
</body>
  <script src="/js/mapscript.js"></script>
</html>