<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>

    </style>
  </head>
  <body>
    
<div id='homePage'>
  <div id='map-logo-header'>
      <div id='logo'>Thousand Scientists</div>
    </div>
    <a id='parkNowLink' href='/map'>
    <div id='parkNow'>
      <i class="fa fa-car fa-3x" style="padding-top:25px"> 
        </i>
        <br />
      Sign Up
    </div>
  </a>

    <div id='driveAndPark'>
      <i class="fa fa-compass fa-3x" style="padding-top:25px">
        </i>
        </i>
        <br />
       Login
    </div>

    <div class='questionMark' style='bottom:0; top: 450px;
right: 30px;'>
        <i class="fa fa-question"></i>
      </div>

      <div class='settings' style='bottom:0; left: 30px; top: 450px;'>
        <i class="fa fa-cog"></i>
      </div>
  </div>  
</body>
</html>