<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Hacker Score</title>
		<meta name="description" content="Minimal Form Interface: Simplistic, single input view form" />
		<meta name="keywords" content="form, minimal, interface, single input, big form, responsive form, transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/minimalForm/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/minimalForm/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/minimalForm/component.css" />
		<!--
		<link rel="stylesheet" type="text/css" href="fullscreenform/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="fullscreenform/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="fullscreenform/css/component.css" />

		<link rel="stylesheet" type="text/css" href="fullscreenform/css/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="fullscreenform/css/cs-skin-boxes.css"
		-->
		<script src="js/minimalForm/modernizr.custom.js"></script>
		<style>
			body {
				background-image:url(images/wood_pattern.jpg) !important;
				background-color: #E1C192;
			}
			.codrops-header {				
				font-weight: 300;
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,0.6);
				
			}
			.codrops-header h1 {
				font-size: 5em;
			}

			.codrops-header span {
				font-size: 2em;
				font-weight: 300;
				margin: 0;
				padding: 15px 0 5px 0;
				color: #666;
				font-family: Cambria, Georgia, serif;
				font-style: italic;
				text-shadow: 0 1px 1px rgba(255,255,255,0.6);
				

			}
			.simform {
				padding: 0 !important;
			}
			
			.questions li {
				color:#fff;
				text-shadow: 0 1px 1px rgba(0,0,0,0.6);
			}
			.questions li input {

			}
			.questions li span {
				font-size: 1.5em;
			}

			.choose-skills label[data-info]::before {
			    position: absolute;
			    bottom: 100%;
			   	left: 0;
			    padding: 0 0 10px;
			    min-width: 200px;
				content: attr(data-info);
				font-size: 0.4em;
				color: #6a7b7e;
			    opacity: 0;
			    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			    transition: opacity 0.3s, transform 0.3s;
			    -webkit-transform: translate3d(0,-5px,0);
			    transform: translate3d(0,-5px,0);
			    pointer-events: none;
			}
			.choose-skills label[data-info]:hover::before {
			    opacity: 1;
			    -webkit-transform: translate3d(0,0,0);
			    transform: translate3d(0,0,0);
			}

			/* Inputs */
			.choose-skills span input {
				display: block;
				margin: 0;
				padding: 0 0 0.15em;
				width: 100%;
				border: none;
				border-bottom: 2px solid rgba(0,0,0,0.2);
				background-color: transparent;
				color: #fffed8;
				text-overflow: ellipsis;
				font-weight: bold;
				font-size: 1.5em;
				border-radius: 0;
				cursor: pointer;
				cursor: hand;
			}
			.choose-skills span input[type="checkbox"] {
				position: absolute;
				display: block;
				margin: 30px auto 20px;
				margin: 0 auto 20px;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;

			}
			.choose-skills span label {
				font-size: .3em;
				color: rgba(0,0,0, .8)
			}
			.choose-skills span label::after {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				background-position: 50% 0%;
				background-size: 85%;
				background-repeat: no-repeat;
				content: '';
				opacity: 0.5;
				-webkit-transition: opacity 0.2s;
				transition: opacity 0.2s;
				-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}

			.choose-skills span label img {
				height: 140px;
			}
			
			.final-message {
				display: none;
			}

		</style>
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<header class="codrops-header">
				<h1 class='name'>HackerScore </h1>	
				<span class='title'><!--Instant feedback to--> Get your website reviewed by Dave</span>
			</header>
			<section>
				<form id="theForm" class="simform" autocomplete="off">
					<div class="simform-inner">
						<ol class="questions">
							<li>
								<span><label for="q1">Website?</label></span>
								<input id="q1" name="q1" type="text"/>
							</li>
							<!--
							<li>
								<span><label for="q2">Name?</label></span>
								<input id="q2" name="q2" type="text"/>
							</li>
							-->
							<!--
							<li>
								<span><label for="q3">Skills?</label></span>
								
								<div class="choose-skills">
									
									<span>
										<input id="q4a" name="q4" type="checkbox" value="developer">
										<label for="q4a" class="radio-conversion">
											<img src='/images/mobile.svg'/>
											Developer
										</label>
									</span>

									<span>
										<input id="q4b" name="q4" type="checkbox" value="designer">
										<label for="q4b" class="radio-social">
											<img src='/images/multiple.png'/>
											Designer
										</label>
									</span>
									<span>
										<input id="q4c" name="q4" type="checkbox" value="growth">
										<label for="q4c" class="radio-mobile">
											<img src='/images/conversion.svg'/>
											Growth
										</label>
									</span>
									<span>
										<input id="q4d" name="q4" type="checkbox" value="business">
										<label for="q4d" class="radio-mobile">
											<img src='/images/social.svg'/>
											Business Dev.
										</label>
									 </span>
								</div>
								
								<input id='q4' name='q4' type='text' value='0' style='display:none'/>
							</li>
							-->
							<!--
							<li>
								<span><label for="q3">Title?</label></span>
								<input id="q3" name="q3" type="text"/>
							</li>
							-->

							<li>
								<span><label for="q2">Email?</label></span>
								<input id="q2" name="q2" type="text"/>
							</li>
						</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<div class="final-message">
						<a class="btn btn-block btn-social btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);">
      					</a>
					</div>
				</form><!-- /simform -->			
			</section>
		</div><!-- /container -->
		<script src="js/jquery.min.js"></script>
		<script>

			function renderSteps(num, value) {
				/*)
				// starts with 0
				if(num === 1) {
					$(".name").css('display', 'none');
					$(".name").text(value)
					$(".name").fadeIn();
				}
				if(num === 2) {
					$(".title").css('display', 'none');
					$(".title").text(value);
					$(".title").fadeIn();
				}
				if(num === 4) {

				}
				*/
				
			}
			
			function passDataToServer(currentQ, value) {
				if(currentQ === 0) {
					var xhr = new XMLHttpRequest();
					var data = new FormData();
			        data.append('email', value);
			        xhr.onreadystatechange = function() {
			            if (xhr.readyState == 4) {
			              // let's just simulate something
			              var response = xhr.responseText;

							
			            }
			        }
			        xhr.open('POST', 'http://hackerscore.herokuapp.com/easyform/email', true);
			        xhr.send(data);
				}
				else if(currentQ === 1) {

				}
			}
		</script>
		<script src="js/minimalForm/classie.js"></script>
		<script src="js/minimalForm/stepsForm.js"></script>
		<script>

			var theForm = document.getElementById( 'theForm' );
			var q1 = document.getElementById('q1');
			var q2 = document.getElementById('q2');

			new stepsForm( theForm, {
 				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
					var wentThrough = 0;
					/*
					form.submit()
					or
					AJAX request (maybe show loading indicator while we don't have an answer..)
					*/
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.style.display = 'block';
					messageEl.textContent = 'Thank you! We\'ll be in touch.';
					
					classie.addClass( messageEl, 'show' );
					
					var xhr = new XMLHttpRequest();
					var data = new FormData();
			        data.append('website_url', q1.value);
			        data.append('email', q2.value);
			        xhr.onreadystatechange = function() {
			            if (xhr.readyState == 4) {
			              // let's just simulate something

							
			            }
			        }
			        xhr.open('POST', 'http://hackerscore.herokuapp.com/newwebsite', true);
			        xhr.send(data);
				}
			});
		</script>
	</body>
</html>