 <% layout('boilerplate') -%>
   	<div class="container">
  		<div class="row text-center" style="padding-top:10em">
  			<div class="col-sm-12"><a href="#" class="btn btn-primary btn-lg">Park Now</a></div>
  		</div>
  		<div class="row text-center" style="padding-top:10em">
  			<div class="col-sm-12"><a href="#" class="btn btn-warning btn-lg">Drive and Park</a></div>
  		</div>
  	</div>