<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Hacker Score</title>
		<meta name="description" content="Minimal Form Interface: Simplistic, single input view form" />
		<meta name="keywords" content="form, minimal, interface, single input, big form, responsive form, transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/minimalForm/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/minimalForm/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/minimalForm/component.css" />
		<script src="js/minimalForm/modernizr.custom.js"></script>
		<style>
			.codrops-header {
				background: #6c71c4;
				color: #fff;
			}
			.questions li {
				color:#fff;
			}
			.questions li input {

			}
		</style>
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<header class="codrops-header">
				<h1>HackerScore <span>Instant website feedback.</span></h1>	
			</header>
			<section>
				<form id="theForm" class="simform" autocomplete="off">
					<div class="simform-inner">
						<ol class="questions">
							<li>
								<span><label for="q1">Website?</label></span>
								<input id="q1" name="q1" type="text"/>
							</li>
							
							<li>
								<span><label for="q2">Email?</label></span>
								<input id="q2" name="q2" type="text"/>
							</li>
						</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<span class="final-message"></span>
				</form><!-- /simform -->			
			</section>
		</div><!-- /container -->
		<script src="js/minimalForm/classie.js"></script>
		<script src="js/minimalForm/stepsForm.js"></script>
		<script>
			var theForm = document.getElementById( 'theForm' );
			var q1 = document.getElementById('q1');
			var q2 = document.getElementById('q2');


			new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
					var wentThrough = 0;
					/*
					form.submit()
					or
					AJAX request (maybe show loading indicator while we don't have an answer..)
					*/
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.innerHTML = 'Thank you! We\'ll be in touch.';
					classie.addClass( messageEl, 'show' );
					
					var xhr = new XMLHttpRequest();
					var data = new FormData();
			        data.append('website_url', q1.value);
			        data.append('email', q2.value);
			        xhr.onreadystatechange = function() {
			            if (xhr.readyState == 4) {
			              // let's just simulate something...
							
			            }
			        }
			        xhr.open('POST', 'http://hackerscore.herokuapp.com/newwebsite', true);
			        xhr.send(data);
				}
			} );
		</script>
	</body>
</html>