<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Hacker Score</title>
		<meta name="description" content="Minimal Form Interface: Simplistic, single input view form" />
		<meta name="keywords" content="form, minimal, interface, single input, big form, responsive form, transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/minimalForm/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/minimalForm/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/minimalForm/component.css" />
		<script src="js/minimalForm/modernizr.custom.js"></script>
		<style>
			body {
				background-image:url(images/wood_pattern.jpg) !important;
				background-color: #E1C192;
			}
			.codrops-header {
				background: #6c71c4;
				color: #fff;
				

				font-weight: 300;
				color: #fff;
				
			}
			.codrops-header h1 {
				font-size: 4em;
			}
			.codrops-header span {
				color: #000;
				text-shadow: 0 1px 1px rgba(255,255,255,0.6);
				font-family: Cambria, Georgia, serif;
				font-style: italic;
				letter-spacing: 3px;
			}
			
			.questions li {
				color:#fff;
			}
			.questions li input {

			}
			.questions li span {
				font-size: 1.5em;
			}
			.final-message {
				display: none;
			}
			.fb-like {
				display: block !important;
			}
		</style>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=379701412164889&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="container">
			<!-- Top Navigation -->
			<header class="codrops-header">
				<h1>HackerScore <span>Instant website feedback.</span></h1>	
			</header>
			<section>
				<form id="theForm" class="simform" autocomplete="off">
					<div class="simform-inner">
						<ol class="questions">
							<li>
								<span><label for="q1">Website?</label></span>
								<input id="q1" name="q1" type="text"/>
							</li>
							
							<li>
								<span><label for="q2">Email?</label></span>
								<input id="q2" name="q2" type="text"/>
							</li>
						</ol><!-- /questions -->
						<button class="submit" type="submit">Send answers</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<div class="final-message">
						Thank you! We'll be in touch.
						<a class="btn btn-block btn-social btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);">
      					</a>
						<div class="fb-like" data-href="https://hackathonhacker.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
					</div>
  					<!--<div class="fb-like" data-href="https://hackathonhacker.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>-->
				</form><!-- /simform -->			
			</section>
		</div><!-- /container -->
		<script src="js/minimalForm/classie.js"></script>
		<script src="js/minimalForm/stepsForm.js"></script>
		<script>
			var theForm = document.getElementById( 'theForm' );
			var q1 = document.getElementById('q1');
			var q2 = document.getElementById('q2');


			new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
					var wentThrough = 0;
					/*
					form.submit()
					or
					AJAX request (maybe show loading indicator while we don't have an answer..)
					*/
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.style.display = 'block';
					//messageEl.textContent = 'Thank you! We\'ll be in touch.';
					
					//var messageLike = theForm.querySelector( '.fb-like' );
					//messageLike.style.display = 'block';

					classie.addClass( messageEl, 'show' );
					//classie.addClass( messageLike, 'show' );
					
					var xhr = new XMLHttpRequest();
					var data = new FormData();
			        data.append('website_url', q1.value);
			        data.append('email', q2.value);
			        xhr.onreadystatechange = function() {
			            if (xhr.readyState == 4) {
			              // let's just simulate something...
							
			            }
			        }
			        xhr.open('POST', 'http://hackerscore.herokuapp.com/newwebsite', true);
			        xhr.send(data);
				}
			} );
		</script>
	</body>
</html>