 <% layout('boilerplate') -%>
   	<div class="container">
  		<div class="row text-center" style="padding-top:10em">
  			<div class="col-sm-12"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-car"> </i>  Park Now</a></div>
  		</div>
  		<div class="row text-center" style="padding-top:5em">
  			<div class="col-sm-12"><a href="#" class="btn btn-warning btn-lg"><i class="fa fa-compass"></i>  Drive and Park</a></div>
  		</div>
		<div class="row text-center" style="padding-top:3em">
			<class="col-sm-6><a href="#" class="btn btn-default-lg"><i class="fa fa-cog"></i></a>
			<class="col-sm-6"><a href="#" class="btn btn-default-lg"><i class="fa fa-question"></i></a>
		</div>
  	</div>