<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      
      
      * { 
        box-sizing: border-box 
      }
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #marker {
        position: absolute;
        top:35%;
        left:35%;
        border-radius: 90px;
        border:4px solid blue;
        width:150px;
        height:150px;
        padding:40px 0 0 60px;

      }
      #marker img {
        height:40px;
      }
      
    
    
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    function initialize() {
      // var myLatlng = new google.maps.LatLng(37.790234970864, -122.39031314844);
      var mapOptions = {
          center: new google.maps.LatLng(37.790234970864, -122.39031314844),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
/*
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Hello World!'
      });
*/
    }

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id='marker'> <img src='/images/flag_icon.svg'/></div>
  </body>
</html>