<html>
	<head>
		<title>Hack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-social.css" rel="stylesheet">
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/pe-icon-7-stroke/css/pe-icon-7-stroke.css">

		<!-- Optional - Adds useful class to manipulate icon font display -->
		<link rel="stylesheet" href="/css/pe-icon-7-stroke/css/helper.css">

		<style>

			body{font-weight:300;-webkit-font-smoothing:antialiased}
			h2{text-align:center;font-weight:300}
			.btn-social-icon{margin-bottom:4px}
			.jumbotron{position:relative;background:#6CC478;font-size:16px;color:#fff;color:rgba(255,255,255,0.75);text-align:center;border-radius:0;margin-bottom: 0;padding-top:10px;padding-bottom: 100px;}.jumbotron h1{margin-bottom:15px;font-weight:300;letter-spacing:-1px;color:#fff}
			.jumbotron iframe{width:90px !important;height:20px !important;border:none;overflow:hidden;margin:2px}
			.btn-outline{margin-top:15px;margin-bottom:15px;padding:18px 24px;font-size:inherit;font-weight:500;color:#fff;background-color:transparent;border-color:#fff;border-color:rgba(255,255,255,0.5);transition:all .1s ease-in-out}.btn-outline:hover,.btn-outline:active{color:#6c71c4;background-color:#fff;border-color:#fff}
			.jumbotron p a,.jumbotron-links a{font-weight:500;color:#fff;transition:all .1s ease-in-out}
			.jumbotron p a:hover,.jumbotron-links a:hover{text-shadow:0 0 10px rgba(255,255,255,0.55)}
			.jumbotron-links{margin-top:15px;margin-bottom:0;padding-left:0;list-style:none;font-size:14px}.jumbotron-links li{display:inline}
			.jumbotron-links li+li{margin-left:20px}
			.how-to{padding:20px}.how-to h2{text-align:center}
			.how-to li{font-size:21px;line-height:1.7;margin-top:20px}.how-to li p{font-size:16px;color:#555}
			.how-to code{font-size:85%;word-wrap:break-word;white-space:normal}
			footer{text-align:center;opacity:.8;padding:20px 0 40px}
			.links{margin:0;list-style:none;padding-left:0}.links li{display:inline;padding:0 10px}
			.social-class .social-hex{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:10px;opacity:.3;float:right}
			.social-class li{margin-bottom:4px}.social-class li:hover .social-hex{opacity:1}
			.social-class li:hover code{background-color:#e8e8ee}
			.social-class code{cursor:default}

			table tr td {
				width:100px;
			}

			.page-header {
				height:80px;
				margin: 0;
				padding:0;
			}
			.logo {
				font-size: 30px;
				position: relative;
				float: left;
				padding:18px 0 0 24px;
			}
			.inline-logo {

				font-size: 40px;
				color:#444;
				font-weight: 300;
				letter-spacing: -1px;
			}
			#profileImageWrapper {
				padding-top: 18px;

			}
			#profileImageWrapper img {
				height: 150px;
				width: 150px;
				border-radius: 75px;
			}
			#scoreWrapper {

			}
			#score {
				height: 100px;
				width: 100px;
				
				font-size: 60px;
				position: absolute;
				top:220px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
			}
			#octocat {
				border-color: rgba(0,0,0,0.2);
				position: absolute;
				top:0px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				width:150px;
				height:150px;
				z-index: 10;

			}
			#octocat i {
				font-size: 180px;
				z-index: 1000;
				color:#444;
			}
			.container p i {
				font-size: 50px;
			}
			.social-buttons {
				position: absolute;
				top:50px;
				left:20px;
				width: 90%;
				
			}
			.name-icon {
				width:200px;
			}
			
			.single-icon {
				display: none;
			}
			.table-icon-wrapper {
				width:150px;
			}
			.table-icon {
				width: 100%;
			}
			.table-single-icon {
				display: none;
			}
			.content-title {
				font-size: 50px;
				color:#444;
				font-weight: 400;
				letter-spacing: -1px;
				padding:5px 0 ;
				text-align: center;
			}
			@media screen and (max-width: 700px) {
				.social-buttons .name-icon {
					width: 25%;
				}
			}
			@media screen and (max-width: 510px) {
				.social-buttons .name-icon {
					display: none;
				}
				.social-buttons .single-icon {
					display: block;
				}
				.table-icon {
					display: none;
				}
				.table-single-icon {
					display: block;
					
				}
			}
			

        #marker {
          left:50%;
        }
      }
		</style>
	</head>

	<body>
		<!--
		<div class="page-header">
			<div class='logo'>HackerScore</div>
			<div id='profileImageWrapper'>
				
				<img src='%= userObj.profileUrl %' />
			</div>
		</div>
		-->
		<div class="jumbotron">
	      <div class="container">
	        <div id='profileImageWrapper'>
	        	<img src='/images/henryprofile.jpg'/>
	        </div>
	        <div class='inline-logo'>Aaron Landy</div>
	          
	          <div id='scoreWrapper'>
	          	<!--
	          	<div id='octocat'>
	            	<i class="fa fa-github"></i>
	            </div>
	        	-->
	          	<div id='score'>85</div>
	        </div>
	       
	        <div class='social-buttons'>
	        	<a class="name-icon btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
            		<i class="fa fa-facebook"></i> Facebook
          		</a>

          		<a class="name-icon btn btn-block btn-social btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);">
            		<i class="fa fa-github"></i> GitHub
          		</a>

          		<a class="name-icon btn btn-block btn-social btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-linkedin']);">
		            <i class="fa fa-linkedin"></i> LinkedIn
		        </a>

		        <a class="single-icon btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);">
          			<i class="fa fa-facebook"></i>
          		</a>

          		<a class="single-icon btn btn-block btn-social-icon btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);">
            		<i class="fa fa-github"></i>
          		</a>

          		<a class="single-icon btn btn-block btn-social-icon btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-linkedin']);">
		            <i class="fa fa-linkedin"></i>
		        </a>
	        </div>

	        
	      </div>
   		</div>
   			<div class='content-title'>Stats</div>
	    	<table class="table table-striped table-hover">
		        <tr>
		          <td><b><i class="fa fa-github"></i> Github<b></td>
		          <td><b>Commits</b></td>
		          <td><b>Repos</b></td>
		          <td><b>Stars</b></td>
		        </tr>
	            <tr>
	              <td>
	              	<div class='table-icon-wrapper'>
		              	<a class="table-icon btn btn-block btn-social btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);">
	            			<i class="fa fa-github"></i> AALN
	          			</a>
	          			<a class="table-single-icon btn btn-block btn-social-icon btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);">
		            		<i class="fa fa-github"></i>
		          		</a>
	          		</div>
	              </td>
	              <td>102</td>
	              <td>26</td>
	              <td>1027</td>
	            </tr>

	            
	        </table>
	        <div class='content-title'>Social</div>
	        <!--
	        <table class="table table-striped table-hover">
		        <tr>
		          <td><b><i class="fa fa-facebook"></i> Facebook<b></td>
		          <td><b>Friends</b></td>
		          <td><b>Groups</b></td>
		          <td><b>Posts</b></td>
		        </tr>
	            <tr>
	              <td>
	              	<div class='table-icon-wrapper'>
		              	<a class="table-icon btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
	            			<i class="fa fa-facebook"></i> AALN.PY
	          			</a>
	          		</div>
	              </td>
	              <td>a</td>
	              <td>a</td>
	              <td>a</td>
	            </tr>
	            
	        </table>
			-->
	        <table class="table table-striped table-hover">
		        <tr>
		          <td><b><i class="fa fa-linkedin"></i> Linkedin<b></td>
		          <td><b>Title</b></td>
		          <td><b>Connections</b></td>
		          <td><b>Job Seeking</b></td>
		        </tr>
	            <tr>
	              <td>
	              	<div class='table-icon-wrapper'>
		              	<a class="table-icon btn btn-block btn-social btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-linkedin']);">
	            			<i class="fa fa-linkedin"></i> AARONLAN95
	          			</a>
	          			<a class="table-single-icon btn btn-block btn-social-icon btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);">
		            		<i class="fa fa-linkedin"></i>
		          		</a>
	          		</div>

	              </td>
	              <td>Software engineer</td>
	              <td>500+</td>
	              <td>true/false</td>
	            </tr>
	            
	        </table>
	        <div class='content-title'>Projects</div>
	        <table class="table table-striped table-hover">
		        <tr>
		          <td><b><i class="fa fa-linkedin"></i> Linkedin<b></td>
		          <td><b>Title</b></td>
		          <td><b>Connections</b></td>
		          <td><b>Job Seeking</b></td>
		        </tr>
	            <tr>
	              <td>
	              	<div class='table-icon-wrapper'>
		              	<a class="table-icon btn btn-block btn-social btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-linkedin']);">
	            			<i class="fa fa-linkedin"></i> AARONLAN95
	          			</a>
	          			<a class="table-single-icon btn btn-block btn-social-icon btn-linkedin" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);">
		            		<i class="fa fa-linkedin"></i>
		          		</a>
	          		</div>

	              </td>
	              <td>Software engineer</td>
	              <td>500+</td>
	              <td>true/false</td>
	            </tr>
	            
	        </table>
    	<!--
		<div class='container'>
			<div class="row">
			  <div class="col-xs-6 col-sm-4">.col-md-4</div>
			  <div class="col-xs-6 col-sm-4">.col-md-4</div>
			  <div class="col-xs-6 col-sm-4">.col-md-4</div>
			</div>
		</div>
	--> 
	</body>
	<script src='/js/jquery.min.js'></script>
</html>