<html>
	<head>
		<title>Hack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-social.css" rel="stylesheet">
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/pe-icon-7-stroke/css/pe-icon-7-stroke.css">

		<!-- Optional - Adds useful class to manipulate icon font display -->
		<link rel="stylesheet" href="/css/pe-icon-7-stroke/css/helper.css">

		<style>

			body{font-weight:300;-webkit-font-smoothing:antialiased}
			h2{text-align:center;font-weight:300}
			.btn-social-icon{margin-bottom:4px}
			.jumbotron{position:relative;background:rgb(105,210,231);font-size:16px;color:#fff;color:rgba(255,255,255,0.75);text-align:center;border-radius:0;margin-bottom: 0;padding-top:10px;padding-bottom: 100px;}.jumbotron h1{margin-bottom:15px;font-weight:300;letter-spacing:-1px;color:#fff;}
			.jumbotron iframe{width:90px !important;height:20px !important;border:none;overflow:hidden;margin:2px}
			.btn-outline{margin-top:15px;margin-bottom:15px;padding:18px 24px;font-size:inherit;font-weight:500;color:#fff;background-color:transparent;border-color:#fff;border-color:rgba(255,255,255,0.5);transition:all .1s ease-in-out}.btn-outline:hover,.btn-outline:active{color:#6c71c4;background-color:#fff;border-color:#fff}
			.jumbotron p a,.jumbotron-links a{font-weight:500;color:#fff;transition:all .1s ease-in-out}
			.jumbotron p a:hover,.jumbotron-links a:hover{text-shadow:0 0 10px rgba(255,255,255,0.55)}
			.jumbotron-links{margin-top:15px;margin-bottom:0;padding-left:0;list-style:none;font-size:14px}.jumbotron-links li{display:inline}
			.jumbotron-links li+li{margin-left:20px}
			.how-to{padding:20px}.how-to h2{text-align:center}
			.how-to li{font-size:21px;line-height:1.7;margin-top:20px}.how-to li p{font-size:16px;color:#555}
			.how-to code{font-size:85%;word-wrap:break-word;white-space:normal}
			footer{text-align:center;opacity:.8;padding:20px 0 40px}
			.links{margin:0;list-style:none;padding-left:0}.links li{display:inline;padding:0 10px}
			.social-class .social-hex{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:10px;opacity:.3;float:right}
			.social-class li{margin-bottom:4px}.social-class li:hover .social-hex{opacity:1}
			.social-class li:hover code{background-color:#e8e8ee}
			.social-class code{cursor:default}

			table tr td {
				width:100px;
			}

			.page-header {
				height:80px;
				margin: 0;
				padding:0;
			}
			.logo {
				font-size: 30px;
				position: relative;
				float: left;
				padding:18px 0 0 24px;
			}
			.inline-logo {

				font-size: 40px;
				color:#444;
				font-weight: 300;
				letter-spacing: -1px;
			}
			#profileImageWrapper {
				padding-top: 18px;

			}
			#profileImageWrapper img {
				height: 150px;
				width: 150px;
				border-radius: 75px;
			}
			#scoreWrapper {

			}
			#score {
				height: 100px;
				width: 100px;
				color:rgb(224,228,204);
				font-size: 60px;
				position: absolute;
				top:220px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
			}
			#octocat {
				border-color: rgba(0,0,0,0.2);
				position: absolute;
				top:0px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				width:150px;
				height:150px;
				z-index: 10;

			}
			#octocat i {
				font-size: 180px;
				z-index: 1000;
				color:#444;
			}
			.container p i {
				font-size: 50px;
			}
			.social-buttons {
				position: absolute;
				top:50px;
				left:20px;
				width: 90%;
				
			}
			.name-icon {
				width:200px;
			}
			
			.single-icon {
				display: none;
			}
			.table-icon-wrapper {
				width:150px;
			}
			.table-icon {
				width: 100%;
			}
			.table-single-icon {
				display: none;
			}
			#stats {
				border-top: 1px solid #444;
			}
			.statsRow {
				background: red;
				width: 100%;
				height: 200px;
				border-bottom: 1px solid #444;
			}
			.statsBlock {
				float: left;
				height:100%;
				width:25%;
				background: rgb(167,219,216);
				text-align: center;
				border-right: 1px solid #444;
				position: relative;
			}
			.statsBlockOther {
				float: left;
				height:100%;
				width:25%;
				text-align: center;
				border-right: 1px solid #444;
				position: relative;
				background: rgb(243,134,48);
			}
			.statsBlockTitle {
				color:#fff;
				font-size: 2em;
				font-weight: 400;
				text-decoration: underline;
			}
			.statsBlockBody {
				color: #fff;
				font-size: 24px;
				padding-top: 40px;
			}
			.statsBlockHeader {
				background: rgb(224,228,204);
				text-align: center;
			}
			.statsBlockHeader i {
				font-size: 125px;
			}
			.statsBlockHeaderTitle {
				font-size: 45px;
				color:#444;
			}
			@media screen and (max-width: 700px) {
				.social-buttons .name-icon {
					width: 25%;
				}
			}
			@media screen and (max-width: 510px) {
				.social-buttons .name-icon {
					display: none;
				}
				.social-buttons .single-icon {
					display: block;
				}
				.table-icon {
					display: none;
				}
				.table-single-icon {
					display: block;
					
				}
				.statsBlock {
					width: 100%;
					border-right: none;
					border-bottom: 1px solid #fff;
				}
				.statsBlockOther {
					width: 100%;
					border-right: none;
					border-bottom: 1px solid #fff;
				}
			}
			

        #marker {
          left:50%;
        }
      }
		</style>
	</head>

	<body>

		<div class="jumbotron">
	      <div class="container">
	        <div id='profileImageWrapper'>
	        	<img src='https://avatars.githubusercontent.com/u/3308426?v=2'/>
	        </div>
	        <div class='inline-logo'>Aaron Landy</div>
	          
	          <div id='scoreWrapper'>

	          	<div id='score'></div>
	        </div>
	       
	        <div class='social-buttons'>
          		<a href="https://github.com/aaln" target="_blank"class="name-icon btn btn-block btn-social btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);">
            		<i class="fa fa-github"></i> GitHub
          		</a>

          		<a class="single-icon btn btn-block btn-social-icon btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);">
            		<i class="fa fa-github"></i>
          		</a>

          		<a href="http://aaronlandy.com" target="_blank"class="name-icon btn btn-block btn-social btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-code']);">
            		<i class="fa fa-code"></i> Website
          		</a>

          		<a class="single-icon btn btn-block btn-social-icon btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);">
            		<i class="fa fa-code"></i>
          		</a>

	        </div>

	        
	      </div>
   		</div>

   		<div id='stats'>
   			<div class='statsRow'>
   				<div class='statsBlock statsBlockHeader'>
   					
	            		<i class="fa fa-github"></i>
	            		<div class='statsBlockHeaderTitle'>
	            			AALN
	            		</div>
   				</div>
   				<div class='statsBlockWrapper'>
	   				<div class='statsBlock'>
	   					<div class='statsBlockTitle'>
	   						Commits
	   					</div>
	   					<div class='statsBlockBody'>
	   						<!--<img src='/images/github_commit.png' width='95%'/> -->
	   						207
	   					</div>
	   				</div>
	   				<div class='statsBlock'>
	   					<div class='statsBlockTitle'>
	   						Stars
	   					</div>
	   					<div class='statsBlockBody'>
	   						3657
	   					</div>
	   				</div>
	   				<div class='statsBlock'>
	   					<div class='statsBlockTitle'>
	   						Pull Requests
	   					</div>
	   					<div class='statsBlockBody'>
	   						15
	   					</div>
	   				</div>

   				</div>

   			</div>

   			<div class='statsRow'>
   				<div class='statsBlock statsBlockHeader'>
   					
	            		<i style='font-size:180px;padding-top:10px;'class="fa fa-desktop"></i>
	            		<div style='position:absolute;top:30px;font-size:1.2em;margin-left: auto;margin-right: auto;left: 0;right: 0;' class='statsBlockHeaderTitle'>
	            			aaronlandy.com
	            		</div>
   				</div>
   				<div class='statsBlockWrapper'>
	   				<div class='.statsBlock statsBlockOther'>
	   					<div class='statsBlockTitle'>
	   						
	   					</div>
	   					<div style='padding-top:0' class='statsBlockBody'>
	   						<iframe style="border:3px solid #green" frameborder="0" height='100%%' width='100%' src='http://aaronlandy.com'>
	   						</iframe>
	   					</div>
	   				</div>
	   				<div class='.statsBlock statsBlockOther'>
	   					<div class='statsBlockTitle'>
	   						
	   					</div>
	   					<div class='statsBlockBody'>

	   					</div>
	   				</div>
	   				<div class='.statsBlock statsBlockOther'>
	   					<div class='statsBlockTitle'>
	   					</div>
	   					<div class='statsBlockBody'>
	   						
	   					</div>
	   				</div>

   				</div>
   				
   			</div>
   		</div>
   			
	</body>
	<script>
		/*** INIT ***/
		var signupPopup = document.getElementById('signupPopup');
		var hideSignupPopup = document.getElementById('hideSignupPopup');

		var signupEmail	= document.getElementById('signupEmail');
		var signupPassword = document.getElementById('signupPassword');

		hideSignupPopup.addEventListener('click', function(){
			signupPopup.style.display = 'none';
		});
		signupEmail.value = "aaron@thecompassmag.com";
		setTimeout(function() {
			//signupPopup.style.display = 'block';
		}), 6000;
	</script>
	<script src='/js/jquery.min.js'></script>
</html>