 <% layout('boilerplate') -%>
	<div class="container">
		<div class="row">
			<div class="col-sm-6"><a href="/" class="btn btn-default" style="margin-top:20px; background-color:rgba(0,0,0,0.2)"><i class="fa fa-reply"></i></a>
				<div style="width:100%; height: 370px; background-color:grey; margin-top:-35px">
				</div>
				<div class="row text-center" style="margin-top:1em">
					<p>Drag the Parkour to where you wish to park.<br>Resize circle to define desired parking area.</p>
				</div>
				<div>
					<div class="row text-center">
						<div class="col-sm-12"><a href="/screen2" class="btn btn-warning btn-lg" style="width:150px"><i class="fa fa-thumbs-up"></i> Go!</a></div>
					</div>
					<div class="row">
						<div class="col-sm-3"><a href="#" class="btn btn-default-lg" style="margin-top:5px"><i class="fa fa-cog"></i></a></div>
						<div class="col-sm-3  text-right"><a href="#" class="btn btn-default-lg" style="margin-top:-55px"><i class="fa fa-question"></i></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
